
:root{
    --color-info: #0DCAF0;
    --color-danger: #DC3545;
    --color-warning: #FFC107;
    --color-success: #198754;
    --color-gray: #6C757D;
    --color-light: #F2F2F2;
    --color-dark: #333333;
    --color-own7: #625FFA;
    --color-own6: #3047FD;
    --color-own5: #F10C81;
    --color-own4: #14A5FF;
    --color-own3: #1814FF;
    --color-own2: #6514FF;
    --color-own1: #145BFF;
}

.bg-own-light{
    background-color: var('--color-light');
}

.bg-own7{
    background-color: var('--color-own7');
}
.bg-own6{
    background-color: var('--color-own6');
}
.bg-own5{
    background-color: var('--color-own5');
}
.bg-own4{
    background-color: var('--color-own4');
}
.bg-own3{
    background-color: var('--color-own3');
}
.bg-own2{
    background-color: var('--color-own2');
}
.bg-own1{
    background-color: var('--color-own1');
}